<!doctype html>

<html>
	<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
      <title>NicksChat</title>
      <!-- <link rel="shortcut icon" type="image/x-icon" href="/media/aoclogo.ico" /> -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
      <link href="https://fonts.googleapis.com/css?family=Mina|Oswald|Roboto+Condensed|Quicksand" rel="stylesheet">
      <!-- <link href="{% static 'home/css/home.css' %}" rel="stylesheet"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <style>
            ul {
                  list-style:none;  
            }
            ::-webkit-scrollbar {
                width: 8px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1; 
            }
             
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888; 
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }
      </style>
	</head>
	<body>
            {% if request.user.is_authenticated %}
                  <script>
                        console.log(window.location)
                        var loc = window.location

                        var wsStart = "ws://"
                        if (loc.protocol == 'https:') {
                              wsStart = 'wss://'
                        }

                        var endpoint = wsStart + window.location.host + '/logged_in/';

                        var socket = new WebSocket(endpoint)

                        socket.onmessage = (e) => {
                              console.log("message", e);
                              var updateDiv = document.getElementById('online-users');
                              var parsedData = JSON.parse(e.data);
                              updateDiv.innerHTML = parsedData.users;
                        }
                        socket.onopen = (e) => {
                              console.log("open", e)
                        }

                        socket.onerror = (e) => {
                              console.log("error", e)
                        }
                        socket.onclose = (e) => {
                              console.log("close", e)
                        }
                  </script>
            {% endif %}

            <div class='d-flex flex-row'>
                  {% if request.user.is_authenticated %}
                        <p class='ml-auto mr-2'>Welcome back {{request.user.username}}</p>
                  {% else %}
                        <a class='ml-auto mr-2' href='/login'>Login</a>
                  {% endif %}
            </div>
            <div class=text-center">
                  <h3>Total users online: <span class="badge badge-success" id="online-users">0</span></h3>
            </div>
		{% block content %}
		{% endblock %}
		{% block script %}
		{% endblock %}
	</body>
</html>