<div class="container h-100">
	<h1>Welcome to room {{room}}</h1>
	<p>Type your message below</p>
	<form method='post' id='form'>
		{% csrf_token %}
		<input type="text" id="chat-textbox" class="form-control" />
		<input type="submit" value="Submit" class='btn' />
	</form>
	<div class="container mt-5" id='chat-window' style="overflow-y:auto;">
		<ul id="chat-list">
			{% for msg in messages %}
				{% if msg.user.user.username == request.user.username %}
					<li class="row">
						<div class="col-8 d-flex flex-column">
							<p class="alert alert-success m-0">{{msg.message}} via {{msg.user.chat_name}}</p>
							<p>{{msg.timestamp}}</p>
						</div>
						<div class="col-4">
						</div>
					</li>
				{% else %}
					<li class="row">
						<div class="col-4">
						</div>
						<div class="col-8 d-flex flex-column">
							<p class="alert alert-primary m-0">{{msg.message}} via {{msg.user.chat_name}}</p>
							<p>{{msg.timestamp}}</p>
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
<script>
	scrollWindow('chat-window');
</script>

	<script>
		websocketManagment('/chat/{{room}}/' )
	</script>

