{% extends 'chat/base.html' %}

{% block content %}
<div class="container h-100">
	<h1>Welcome to room {{room}}</h1>
	<p>Type your message below</p>
	<form method='post' id='form'>
		{% csrf_token %}
		<input type="text" id="chat-textbox" class="form-control" />
		<input type="submit" value="Submit" class='btn' />
	</form>
	<div class="container mt-5" id='chat-window' style="overflow-y:auto;">
		<ul id="chat-list">
			{% for msg in messages %}
				{% if msg.user.user.username == request.user.username %}
					<li class="row">
						<div class="col-8 d-flex flex-column">
							<p class="alert alert-success m-0">{{msg.message}} via {{msg.user.chat_name}}</p>
							<p>{{msg.timestamp}}</p>
						</div>
						<div class="col-4">
						</div>
					</li>
				{% else %}
					<li class="row">
						<div class="col-4">
						</div>
						<div class="col-8 d-flex flex-column">
							<p class="alert alert-primary m-0">{{msg.message}} via {{msg.user.chat_name}}</p>
							<p>{{msg.timestamp}}</p>
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
<script>
	var windowHeightPx = (window.screen.height * 0.50).toString() + "px";
	document.getElementById('chat-window').style.height = windowHeightPx;

	window.onload = function() {
		window.scrollTo(0,document.getElementById("chat-window").scrollHeight);
	}
</script>
{% endblock %}

{% block script %}
	<script>
		console.log(window.location)
		var loc = window.location
		var formData = document.getElementById('form')
		var inputBox = document.getElementById('chat-textbox')
		const username = '{{request.user.username}}'

		var chatList = document.getElementById('chat-list')
		console.log(chatList)
		var wsStart = "ws://"
		if (loc.protocol == 'https:') {
			wsStart = 'wss://'
		}

		var endpoint = wsStart + window.location.host + window.location.pathname;

		var socket = new WebSocket(endpoint)

		socket.onmessage = (e) => {
			console.log("message", e)
			var node = document.createElement("li"); //create row
			node.classList.add('row')

			var jsonFixed = JSON.parse(e.data); //parse the json returned
			var newText = document.createTextNode(jsonFixed.message + " via " + jsonFixed.username); //create text element from json

			var textDiv = document.createElement("div"); //create big box according to whatever
			textDiv.classList.add('col-8'); //apply the 75% width
			textDiv.appendChild(newText); //add the text element into 75% node

			var emptyDiv = document.createElement("div"); //create 25% node
			emptyDiv.classList.add('col-4');

			textDiv.classList.add('alert')

			if (jsonFixed.username === username) {
				textDiv.classList.add('alert-success')
				textDiv.appendChild(newText); //add the text element into 75% node
				node.classList.add('this-user')
				node.appendChild(textDiv);
				node.appendChild(emptyDiv)
			}
			else {
				textDiv.classList.add('alert-primary')
				textDiv.appendChild(newText);
				node.classList.add('other-user')
				node.appendChild(emptyDiv);
				node.appendChild(textDiv);
			}

			chatList.appendChild(node)
		}
		socket.onopen = (e) => {
			console.log("open", e)
			formData.addEventListener("submit", (event) => {
				event.preventDefault();
				var newMsg = {'message':inputBox.value}

				socket.send(JSON.stringify(newMsg))

				formData.reset()
			})
		}

		socket.onerror = (e) => {
			console.log("error", e)
		}
		socket.onclose = (e) => {
			console.log("close", e)
		}
	</script>

{% endblock %}