{% extends 'chat/base.html' %}

{% block content %}
<div class="container">
	<script>
		function createroom() {
			var roomname = $('#create-room').val();
			console.log(roomname)
			var getLink = '/chat/' + roomname;
			window.location.replace(getLink)
		}

		function joinroom(link) {
			console.log(roomname)
			var getLink = '/chat/' + link;
			window.location.replace(getLink)
		}
	</script>
	<h1 class="text-center">Welcome!</h1>
	<div class="row">
		<div class="col-md-6 text-center">
				<p class="lead">Create a new room</p>
				<input type="text" name="chat-textbox" id='create-room' class="form-control" />
				<button class='btn btn-lg btn-success my-2' onclick='createroom()'>Create</button>
		</div>
		<div class="col-md-6 text-center">
			<p class="lead">Join an existing room</p>
			<div class='d-flex flex-row flex-wrap'>
				{% for room in rooms %}
					<div class='col-md-4 my-2'>
						{{room.room_name}}
						<span id='badge_{{room.room_name}}' class='badge badge-success'>0</span>
						<button class='btn btn-success' onclick='joinroom({{room.room_name}})'>Join</button>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}